@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300;400;700;900&display=swap');

#apps-and-widgets {
  padding: 1em;
  height: 600px;
  width: 26em;
  background-image: url("../assets/img/background.jpg");
}

.app {
  padding: 0 .5em;
}

.app img {
  height: 5em;
  border-radius: 1.5em;
  border-style: outset;
  border-color: rgba(0, 0, 0, 0.175);
}

.app p {
  text-align: center;
  font-size: 1em;
  margin-top: .1em;
  font-family: 'Jost', sans-serif;
  font-weight: 300;
  color: white;
}

#songs {
  padding: 0;
  height: 600px;
  width: 26em;
  background-color: #232323;
}

#songs h1 {
  font-family: "Jost", sans-serif;
  font-weight: 900;
  font-size: 2.5em;
  text-align: center;
  margin: 0;
  color: #E5E5E5;
}

#songs #song-list {
  padding: 1em;
}

#songs img {
  height: 4em;
  float: center;
}

#songs #head {
  background-color: #000;
  padding: 0;
}

.song-name {
  color: #E5E5E5;
  margin-bottom: 0;
  font-family: "Jost", sans-serif;
}

.song-author {
  font-size: .75em;
  font-weight: 300;
  margin-top: 0;
  font-family: "Jost", sans-serif;
  color: #C0C0C0;
}

#pics {
  padding: 0;
  height: 600px;
  width: 26em;
  background-color: #232323;
}

#pics h1 {
  font-family: "Jost", sans-serif;
  font-weight: 300;
  padding-top: 1.25em;
  text-align: center;
  color: #E5E5E5;
}

#pics p {
  font-family: "Jost", sans-serif;
  margin: 0;
  color: #E5E5E5;
  padding-left: 10px;
}

#pics .big {
  width: 200px;
  padding: 0;
  margin: 0;
}

#pics .smol {
  width: 130px;
  padding: 0;
  margin: 0;
}

#msg {
  padding: 0;
  height: 600px;
  width: 26em;
  background-color: #E5E5E5;
}

#msg h1 {
  font-family: "Jost", sans-serif;
  font-weight: 900;
  font-size: 2.5em;
  text-align: center;
  margin: 0;
  color: #232323;
}

#msg #msg-list {
  padding: 1em;
}

.message {
  color: #232323;
  margin-bottom: 0;
  font-family: "Jost", sans-serif;
}

.contact {
  font-size: .75em;
  font-weight: 300;
  margin-top: 0;
  font-family: "Jost", sans-serif;
  color: #454545;
}
